@import '../../../scss/variables.scss';

// @file
// Button

.button {
  @include button-clear;

  background-color: $black;
  border-radius: 50px;
  color: $white;
  display: inline-block;
  font-size: $font-size-sm;
  line-height: $line-height-normal;
  min-width: rem(100px);
  padding: $spacing-1 $spacing-4;
  text-align: center;
  text-decoration: none;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $orange;
  }

  &:active {
    color: $white;
  }

  @include bp-tablet {
    font-size: $font-size-md;
  }
}

// Arrow button common styles
$size-mobile: 148px;
$size-desktop: 178px;

%arrow-button {
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  font-size: $font-size-sm;
  font-weight: 700;
  height: $size-mobile;
  justify-content: center;
  letter-spacing: 1px;
  padding: 0 $spacing-2;
  position: relative;
  text-align: left;
  width: $size-mobile;

  &::before,
  &::after {
    content: '';
    left: 0;
    position: absolute;
    transition: all 0.4s cubic-bezier(0.25, 0.75, 0.5, 1.25);
  }

  &::before {
    border-radius: 100%;
    display: block;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &::after {
    @include image-replace(44px, 32px);
    @include svg-background(icon-arrow-right);

    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px 21px;
    bottom: $spacing-3;
    left: $spacing-1;
    position: absolute;
  }

  &:hover,
  &:focus {
    background-color: transparent;

    &::before {
      transform: scale(1.05);
    }

    &::after {
      animation: 1s escape-right cubic-bezier(0.25, 0.75, 0.5, 1.25) 0.2s forwards;
    }
  }

  &:active {
    color: $white;
  }

  @include bp-tablet {
    height: $size-desktop;
    padding: 0 $spacing-3;
    width: $size-desktop;

    &::after {
      bottom: $spacing-4;
      left: $spacing-3;
    }
  }
}

// Red button
.button--red {
  @extend %arrow-button;

  &::before {
    background-color: $orange;
  }
}

// Blue button
.button--blue {
  @extend %arrow-button;

  &::before {
    background-color: $blue;
  }
}

// Purple button
.button--purple {
  @extend %arrow-button;

  &::before {
    background-color: $purple;
  }
}

// arrow animation
@keyframes escape-right {
  25% {
    transform: translateX(40px);
  }
  50% {
    opacity: 0;
    transform: translateX(40px);
  }
  60% {
    opacity: 0;
    transform: translateX(-40px);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
}

.button--peek-left {
  position: relative;
  top: -$spacing-5;
  left: $spacing-2;
}

.button--peek-right {
  position: relative;
  top: -$spacing-5;
  right: -$spacing-1;
  float: right;

  @include bp-desktop {
    right: -$spacing-5;
  }
}