@import '../../../scss/variables.scss';

// @file
// Grid

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(#{$spacing-3} / 2);

  @include bp-tablet {
    gap: $spacing-3;
  }
}

.grid--reverse {
  direction: rtl;
}

.grid--special {

  @include bp-max-tablet-lg {
    grid-template-columns: repeat(1, 1fr) !important;
    padding: $spacing-4 0;
  }

  @include bp-tablet {
    min-height: calc(100vh - #{rem(220px)});
    gap: $spacing-3;
  }

  @include bp-desktop {
    gap: calc(#{$spacing-6} * 2);
  }
}

.grid--2-col {
  @include bp-tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid--3-col {
  @include bp-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp-tablet-lg {
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-3;
  }
}

.grid--4-col {
  @include bp-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp-tablet-lg {
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-3;
  }

  @include bp-desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid__item {
  align-self: center;
}