@import '../../../scss/variables.scss';

// @file
// Grid

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(#{$spacing-3} / 2);

  @include bp-tablet {
    gap: $spacing-3;

    .login & {
      min-height: 100vh;
      gap: $spacing-6;
    }
  }

  @include bp-tablet-lg {
    .login & {
      height: 100vh;
      gap: calc(#{$spacing-6} * 2);
    }
  }
}

.grid--reverse {
  direction: rtl;
}

.grid--2-col {
  @include bp-tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid--3-col {
  @include bp-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp-tablet-lg {
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-3;
  }
}

.grid--4-col {
  @include bp-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp-tablet-lg {
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-3;
  }

  @include bp-desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid__item {
  align-self: center;
}