@import '../../../scss/variables.scss';

// @file
// Carousel

.swiper-container--layout {
  padding: $spacing-1 $spacing-3 !important;
  position: relative !important;
  max-width: rem(350px) !important;

  @include bp-desktop {
    max-width: rem(560px) !important;
  }
}

.swiper-wrapper--pad {
  padding-left: $spacing-4;
}

.swiper-slide--box {
  box-sizing: border-box;
}