@import '../../../scss/variables.scss';

// @file
// Carousel

.swiper-container--layout {
  padding-left: $spacing-5;
  position: relative !important;
}

.swiper-wrapper--pad {
}

.swiper-slide--box {
  box-sizing: border-box;
}