@import '../../../scss/variables.scss';

// @file
// Spinning Images

.spinning-images {
  animation: rotation 10s 1s cubic-bezier(0.25, 0.75, 0.5, 1.25) infinite;
  height: 300px;
  left: 5%;
  position: absolute;
  transform-origin: bottom center;
  width: 90%;

  @include bp-tablet {
    height: 400px;
    left: calc((100% - #{rem(500px)}) / 2);
    width: rem(500px);
  }

  @include bp-desktop {
    height: rem(500px);
    left: calc((100% - #{rem(600px)}) / 2);
    width: rem(600px);
  }
}

.spinning-images__image {
  left: 0;
  position: absolute;

  &:first-child {
    bottom: 0;
  }

  &:last-child {
    top: 100%;
    transform: rotate(-180deg);
  }
}

@keyframes rotation {
  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  75% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-359deg);
  }
}