@import '../../../scss/variables.scss';

// @file
// AccountMenu

.account-menu {
  background-color: $white;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba( 03, 03, 03, 0.1);
  font-size: $font-size-sm;
  max-width: rem(300px);
  margin-left: auto;
  margin-right: auto;
  padding: $spacing-3;
}

.account-menu__welcome {
  font-family: $header-font-family;
  font-size: $font-size-h4;
  margin-bottom: rem(5px);
}

.account-menu__menu {
  @include list-clean();

  font-weight: 700;
  padding-top: $spacing-2;
}

.account-menu__link {
  display: inline-block;
  padding: $spacing-1 0 $spacing-1 $spacing-5;
  text-decoration: none;
  position: relative;

  &::before,
  &::after {
    @include image-replace(26px, 26px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.4 ease-in-out;
  }

  &::after {
    opacity: 0;
  }

  &.account-menu__link--account {
    &::before {
      @include svg-background(icon-account-list);
    }
  }

  &.account-menu__icon--two-people {
    &::before {
      @include svg-background(icon-account-two-people);
    }
  }

  // Icons for each of the things
  &.account-menu__icon--person {
    &::before {
      @include svg-background(icon-account-person);
    }
  }

  // Icons for each of the things
  &.account-menu__icon--heart {
    &::before {
      @include svg-background(icon-account-heart);
    }
  }

  // Icons for each of the things
  &.account-menu__icon--logout {
    &::before {
      @include svg-background(icon-account-logout);
      transform: rotate(180deg);
    }
  }
}