@import '../../../scss/variables.scss';

// @file
// AccountMenu

.account-menu {
  background-color: $white;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba( 03, 03, 03, 0.1);
  font-size: $font-size-sm;
  margin-bottom: $spacing-3;
  max-width: rem(300px);
  padding: $spacing-3;

  @include bp-tablet {
    margin-bottom: 0;
  }
}

.account-menu__welcome {
  font-family: $header-font-family;
  font-size: $font-size-h4;
  margin-bottom: rem(5px);
}

.account-menu__menu {
  @include list-clean();

  font-weight: 700;
  padding-top: $spacing-2;
}

.account-menu__item {
  position: relative;
  z-index: 1;
}

.account-menu__link {
  display: inline-block;
  padding: $spacing-1 0 $spacing-1 $spacing-5;
  text-decoration: none;
  position: relative;

  &::before,
  &::after {
    @include image-replace(26px, 26px);

    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;
    content: '';
    left: 0;
    position: absolute;
    top: calc((100% - 26px) / 2);
    transition: all 0.4s ease-in-out;
    z-index: 2;
  }

  &::after {
    opacity: 0;
  }

  &:hover,
  &:focus {
    color: $orange;
  }

  &.active {
    color: $white;

    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }

    .account-menu__text {
      &::before {
        background-color: $orange;
        border-bottom-right-radius: 70px;
        border-top-right-radius: 70px;
        content: '';
        display: block;
        height: 100%;
        left: -30px;
        position: absolute;
        top: 0;
        width: 250px;
        z-index: -2;
      }
    }
  }
}


.account-menu__link--information {
  &::before {
    @include svg-background(icon-account-edit);
  }

  &::after {
    @include svg-background(icon-account-edit-white);
  }
}

.account-menu__link--favorites {
  &::before {
    @include svg-background(icon-heart);
  }

  &::after {
    @include svg-background(icon-heart-white);
  }
}

.account-menu__link--reviews {
  &::before {
    @include svg-background(icon-reviews);
  }

  &::after {
    @include svg-background(icon-reviews-white);
  }
}

.account-menu__link--favorites {
  &::before {
    @include svg-background(icon-heart);
  }

  &::after {
    @include svg-background(icon-heart-white);
  }
}

.account-menu__link--people {
  &::before {
    @include svg-background(icon-users);
  }

  &::after {
    @include svg-background(icon-users-white);
  }
}

.account-menu__link--account {
  @include button-clear();
  color: $black;
  font-size: $font-size-sm;
  font-weight: 700;
  padding: $spacing-1 0 $spacing-1 $spacing-5;

  &::before,
  &::after {
    transform: rotate(180deg);
  }

  &::before {
    @include svg-background(icon-logout);
  }

  &::after {
    @include svg-background(icon-logout-white);
  }
}