@import '../../../scss/variables.scss';

// @file
// Instructions

.instructions__title {
  @include svg-background(icon-spatula);

  background-position: left center;
  background-repeat: no-repeat;
  padding: $spacing-2 0 $spacing-2 $spacing-8;

  @include bp-max-tablet {
    background-size: 50px;
    padding: $spacing-2 0 $spacing-2 $spacing-6;
  }
}