// @file
// Colors

$black: #212121;
$white: #ffffff;
$gray-1: #ececec;
$gray-2: #F6F6F6;
$gray-3: #CCCCCC;
$gray-4: #666;
$gray-5: #333;

// Brand colors

// Utility colors
// error
$red: #ff0000;
$red-dark: #660000;

// warning
$yellow: #ffff00;
$yellow-dark: #ffbf00;

// success
$green: #7CFC00;
$green-dark: #008000;