// @file
// Mixins

// remove browser default styles
@mixin button-clear() {
  &[type='button'] {
    appearance: none;
  }
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  font-family: $base-font-family;
  font-weight: 400;
  display: inline-block;
  padding: 0;
  transition: all 0.4s ease-in;

  &:focus {
    outline: none;
  }
}

// remove list default styles
@mixin list-clean {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: 0;
    margin-bottom: $spacing-1;

    &::before {
      display: none;
    }
  }
}

// display inline list
@mixin list-inline {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  li {
    padding-left: $spacing-2;
  }

  > li {
    display: inline-block;
  }
}

// SVG background
@mixin svg-background($image-name, $image-location: '/images/') {
  $url: $image-location + $image-name + '.svg';
  background-image: url($url);
}

// Hide text, while keeping it accessible
// can be used with svg-background mixin to create
// icon links
@mixin image-replace($width, $height) {
  color: transparent;
  display: inline-block;
  font: 0/0 a;
  height: $height;
  position: relative;
  text-shadow: none;
  width: $width;
}