@import 'variables.scss';

// @file
// Utility classes

// text classes'
// text size
.text-extra-small {
  font-size: $font-size-xs;
}

.text-small {
  font-size: $font-size-sm;
}

.text-large {
  font-size: $font-size-lg;
}

.text-extra-large {
  font-size: $font-size-xl;
}

// text style
.text-italic {
  font-style: italic;
}

// text weight
.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

// list classes
.list-inline {
  @include list-inline();
}

.list-clean {
  @include list-clean();
}

.list-inline {
  @include list-inline();
}

// pages
.login,
.recipe {
  @include fade-in-up();
}

.login {
  @include bp-max-tablet-lg {
    padding: $spacing-4 0;
    margin-left: auto;
    margin-right: auto;
    max-width: rem(600px);
  }
}