@import '../../../scss/variables.scss';

// @file
// SectionTitle

.main-menu {
  @include list-inline();

  @include bp-max-tablet-lg {
    font-size: $font-size-sm !important;
  }
}

.main-menu__item {
  margin: 0;

  @include bp-tablet {
    padding-left: $spacing-2 !important;
  }

  @include bp-desktop-lg {
    padding-left: $spacing-4 !important;
  }

  @include bp-max-desktop {
    &:first-child {
      display: none;
    }
  }
}

.main-menu__link {
  text-decoration: none;

  &.main-menu__link--search {
    @include svg-background(icon-search);

    background-position: left center;
    background-repeat: no-repeat;
    font-weight: 400;
    padding: $spacing-1 0 $spacing-1 $spacing-3;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &.main-menu__link--add {
    @include svg-background(icon-add-post);

    background-position: left center;
    background-repeat: no-repeat;
    font-weight: 400;
    padding: $spacing-1 0  $spacing-1 $spacing-3;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}